<div id="header">
    <div class="side-nav-container">
        <mat-toolbar class="header-nav" fxLayoutAlign="start start"
            [ngClass]="{'mat-toolbar-single-row-shrinked':isUserLogin}">
            <div fxFlex fxLayout="column">
                <div fxLayout="row" *ngIf="isUserLogin" fxLayoutAlign="start center" class="mt-2">
                    <div fxFlex fxLayoutAlign="start center">
                        <mat-icon class="material-icons fs-40" *ngIf="isHome" (click)="snav.toggle()">menu</mat-icon>
                        <mat-icon class="material-icons fs-40" *ngIf="!isHome" (click)="back()">arrow_back_ios
                        </mat-icon>
                    </div>

                    <div fxFlex *ngIf="isUserLogin">
                        <h6>{{routerHeading}}</h6>
                    </div>

                    <div fxFlex class="profile-logo" fxLayoutAlign="end center">
                        <img *ngIf="userData?.profilePicUrl" [src]="userData?.profilePicUrl">
                        <img *ngIf="!userData?.profilePicUrl" src="assets/images/defaultspeakerpic.jpg">
                    </div>
                </div>

                <!-- <div *ngIf="routerHeading === 'Stockboard' && isUserLogin" fxLayout="row" fxFlex fxLayoutAlign="end end"
                    style="font-size: 0.6rem; color:white">*(Qty in tons)</div> -->

                <div class="header-logo mt-4" *ngIf="!isUserLogin" fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/images/mulkanoor-society-logo.png">
                    <h6 style="font-size: 1rem">Outlet Store</h6>
                </div>
            </div>
        </mat-toolbar>

        <div class="p-2" style="padding-bottom: 22px !important">
            <mat-sidenav-container [ngClass]="{'transform-mat-container':isUserLogin}">
                <mat-sidenav #snav>
                    <mat-nav-list>

                        <a mat-list-item (click)=" snav.close(); syncMasterData()" routerLinkActive="active">
                            <mat-icon class="material-icons">sync</mat-icon>
                            <span>Sync master data</span>
                        </a>
                        <a mat-list-item (click)="snav.close(); createTransaction()" routerLinkActive="active">
                            <mat-icon class="material-icons">create_new_folder</mat-icon>
                            <span>Create transaction</span>
                        </a>
                        <a mat-list-item (click)="snav.close(); stockShifting()" routerLinkActive="active">
                            <mat-icon class="material-icons">local_shipping</mat-icon>
                            <span>Stock shifting</span>
                        </a>
                        <a mat-list-item (click)=" snav.close(); sync()" routerLinkActive="active">
                            <mat-icon class="material-icons">sync</mat-icon>
                            <span>Sync transaction</span>
                        </a>
                        <a mat-list-item (click)="snav.close();stockBoard()" routerLinkActive="active">
                            <mat-icon class="material-icons">view_quilt</mat-icon>
                            <span>Stockboard</span>
                        </a>
                        <a mat-list-item (click)="snav.close(); logOut()" routerLinkActive="active">
                            <mat-icon class="material-icons">exit_to_app</mat-icon>
                            <span>Log out</span>
                        </a>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                    <div id="spinner-wrapper" *ngIf="showSpinner">
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>