
  .header-nav {
      background: #1c75bc;
      
    }
    // button {
    //     margin-left: -16px;
    //     outline: none;
    // }

    // h6 {
    //   padding-bottom: 10px;
    // }
  
    mat-toolbar {
      background: silver;
      color: white;
      padding-top: 10px !important
    }
  
    mat-toolbar h6 {
      // margin-left: 10px;
      font-size: 22px;
      font-family: Helvetica;
      opacity: 1;
    }
  
    mat-sidenav {
      width: 262px;
      background: white;
      box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    }
  
    mat-sidenav-content {
      background: white;
    }
    mat-nav-list mat-icon{
      margin-right: 5px;
    }
  
    mat-nav-list a:hover {
      color: #00AEEF !important;
    }
  
   
    mat-nav-list span, mat-nav-list  mat-icon {
      color: #383d41;
    }
    mat-sidenav-container {
      height: calc(100vh - 110px);
    }
   
    .side-nav-container {
      background: #eee;
    }
    .mat-toolbar-single-row {
      height: 15rem;
      transition: all 0.2s ease-in-out;
    }
    .mat-toolbar-single-row-shrinked {
      height: 10rem;
      transition: all 0.2s ease-in-out;
    }
    .header-logo {        
      img {
        height: 150px;
        width: 150px;
      }
    }
    .profile-logo {        
      img {
        height: 40px;
        width: 40px;
        border-radius: 25px;
        // border: 1px solid white;
      }
    }
    .transform-mat-container {
      // transform: translateY(-90px);
      border-radius: 10px;
      background: white;
      margin-top: -80px !important;
    }
    .fs-40 {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }

    #spinner-wrapper {
      background-color: rgba($color: #000000, $alpha: .4);
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      // mat-spinner {    
      //     // position: absolute;
      //     // top: 50%;
      //     // left: 50%;
      //     // z-index: 999999;
      //     // transform: translate(-50%, -50%);
      // }
  }

  ::ng-deep {
    // .mat-icon-button {
    //   top: -42px;
    // }

    button:focus {
      outline: none !important;
      background-color: #fff;
    }

    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: #1c75bc !important;
  }
  }
  