#create-transacton {
    .add {
        .mat-raised-button {
            border-radius: 1rem !important;
            line-height: 20px !important;
            color: white !important;
            background-color: #00A79D;
        }
    }

    .details {
        margin-left: 6rem;
        color: #495057;
        font-size: 0.8rem
    }

    table {
        td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    
        thead {
            background-color: #00A79D;
            color: #fff!important;
            font-size: 0.9rem;
        }

        tbody {
            td {
                color: #5d5757;
                font-size: 0.8rem;
            }
        }
    }

    .mat-card {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.37),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
        border-radius: 10px !important;
    }

    .submit {
        .mat-raised-button {
            color: white !important;
            background-color: #1c75bc !important;
            border-radius: 0.5rem !important;
            width: 80%
        }
    }

    .selected-type {
        background-color: #1c75bc;
        color: white;
        width: 140px;
    }

    mat-datepicker-toggle {
        top: -2px;
        left: 0px;
    }

}