<div @fade [@expandCollapse]="!isSellerForm && !isAddProductForm ? 'expanded' : 'collapsed'" class="container mt-3 mb-3"
    id="create-transacton">
    <form name="transactionForm" [formGroup]="transactionForm">
        <div fxLayout="column" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" class="p-1"  [ngClass]="{'mat-card selected-type': !isSeller}"
                    (click)="selectedType('SALE')">
                    <svg-icon class="text-center " [applyCss]="true" src="assets/Icons/Icon-10.svg"
                        [svgStyle]="{'width.px':60, 'height.px':40}"></svg-icon>
                    <span fxLayoutAlign="center center">Sale</span>
                </div>

                <div fxLayout="row" class="p-1"
                    [ngClass]="{'mat-card selected-type': isSeller}" (click)="selectedType('PURCHASE')">
                    <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-11.svg"
                        [svgStyle]="{'width.px':60, 'height.px':40}"></svg-icon>
                    <span fxLayoutAlign="center center">Purchase</span>
                </div>
            </div>

            <div class="position-relative">
                <!-- <label>Date</label> -->
                <input class="form-control pl-5" [matDatepicker]="transactionDate" placeholder="Choose a date"
                    (click)="selectDate.open()" name="date" id="date" formControlName="date"
                    style="padding-left: 2.5rem !important" />
                <mat-datepicker-toggle class="outline-none position-absolute" [for]="transactionDate">
                </mat-datepicker-toggle>
                <mat-datepicker #transactionDate #selectDate></mat-datepicker>
            </div>

            <div>
                <div fxLayout="row">
                    <label *ngIf="isSeller">
                        <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-15.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Seller</span>
                    </label>
                    <label *ngIf="!isSeller">
                        <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-21.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Buyer</span>
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Enter here" formControlName="userCtrl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
                    <mat-option *ngFor="let receiver of filteredOptions | async" [value]="receiver">
                        <span>{{receiver?.firstName}}</span>
                        <span>
                            ({{receiver?.userId}})</span>
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div *ngIf="transactionForm?.get('userCtrl')?.value?.firstName" class="mb-0">
                <label>
                    <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-17.svg"
                        [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                    <span>Product list</span>
                </label>
                <div fxFlex fxLayoutAlign="end center" class="add">
                    <button type="button" (click)="addProducts()" mat-raised-button> Add </button>
                </div>
            </div>

            <div *ngIf="transactionObj.productList.length" style="width:100%" class="p-0 mat-card overflow-auto">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <td>Product</td>
                            <td>Unit</td>
                            <td>Qty</td>
                            <td>Rate</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody class="text-color">
                        <tr class="font-13" *ngFor="let i of transactionObj.productList">
                            <td>{{i?.productName}}</td>
                            <td>{{i?.units?.unitName}}</td>
                            <td class="align-right">{{i?.quantity}}</td>
                            <td class="align-right">{{i?.unitPrice}}</td>
                            <td class="align-right">{{i?.amount| number : '1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="transactionObj.productList.length">
                <div fxLayout="row">
                    <label>
                        <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-18.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Select charges</span>
                    </label>
                </div>

                <select class="form-control" formControlName="chargeType">
                    <option value="" selected disabled>Select here</option>
                    <option *ngFor="let charge of chargeTypes" [value]="charge.value">{{charge.name}}</option>
                </select>
            </div>

            <div *ngIf="transactionForm?.get('chargeType')?.value">
                <label>
                    <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-19.svg"
                        [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                    <span>Amount</span>
                </label>
                <input type="number" formControlName="chargeAmount" class="form-control" placeholder="Enter here">
            </div>

            <div fxFlex fxLayoutAlign="end center" class="add" *ngIf="transactionForm?.get('chargeType')?.value">
                <button type="button" (click)="addCharges('add')" class="mr-2"
                    [disabled]="!transactionForm?.get('chargeAmount')?.value" mat-raised-button> Add </button> / &nbsp;
                <button type="button" (click)="addCharges('deduct')"
                    [disabled]="!transactionForm?.get('chargeAmount')?.value" mat-raised-button> Deduct </button>
            </div>

            <div *ngIf="transactionObj.hammaliCharges || transactionObj.transportCharges" class="mb-0">
                <div fxLayout="row" class="details" *ngIf="transactionObj.hammaliCharges">
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <span>Hamali Charges:</span>
                    </div>
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <span>{{transactionObj.hammaliCharges| number : '1.2-2'}}</span>
                    </div>
                </div>

                <div fxLayout="row" class="details" fxLayoutAlign="end center" *ngIf="transactionObj.transportCharges">
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <span>Transport Charges:</span>
                    </div>
                    <div fxFlex="50%" fxLayoutAlign="end center">
                        <span>{{transactionObj.transportCharges| number : '1.2-2'}}</span>
                    </div>
                </div>
            </div>

            <div fxLayout="row" class="details" fxLayoutAlign="end center" *ngIf="transactionObj.productList.length" style="font-size:0.9rem; font-weight: 600">
                <div fxFlex="50%" fxLayoutAlign="end center">Total: </div>
                <div fxFlex="50%" fxLayoutAlign="end center">
                    {{totalAmount| number : '1.2-2'}}
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="transactionObj.productList.length" class="submit">
                <button mat-raised-button (click)="saveOffline()"><span>Save</span></button>
            </div>
        </div>
    </form>
</div>
<div [@expandCollapse]="isSellerForm ? 'expanded' : 'collapsed'">
    <app-add-seller (onCancel)="toggleAddSeller()" (onAdd)="addSellerData($event)"
        [type]="transactionForm?.value?.type"></app-add-seller>
</div>

<div [@expandCollapse]="isAddProductForm ? 'expanded' : 'collapsed'">
    <app-add-product [transactionType]="this.transactionForm.get('type').value" [productData]="productData" (addProduct)="addProductsList($event)" (cancel)="addProducts()"></app-add-product>
</div>