::ng-deep {
    .mat-raised-button[disabled][disabled] {
        background-color: rgba(128, 128, 128, 0.22) !important;
    }

    .mat-raised-button.mat-primary {
        background-color: #3fb574;
        color: white !important;
    }

    .mat-raised-button {
        border-radius: 1rem !important;
        line-height: 32px !important;
    }
}

#add-seller {
    label {
        color: #434649;
        margin-bottom: 0.2rem;
    }
    .form-control {
        border-radius: 1rem;
        padding: 0.375rem 1.8rem;
        height: calc(1.5em + 0.75rem + 4px);
    }
}