<!-- <div class="container mt-3">
    <div fxLayout="column">
        <form [formGroup]="sellerForm" #formDirective="ngForm" (submit)="submit(formDirective)" >
            <div>
                <mat-form-field fxFlex>
                    <mat-label>Business Type</mat-label>
                    <mat-select formControlName="businessType">
                        <mat-option *ngFor="let type of businessTypes" [value]="type.value" >{{type.name}}</mat-option>
                    </mat-select>
                    <mat-error>Please Select a Product</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex>
                    <input type="text" matInput placeholder="Business name" formControlName="businessName">
                    <mat-error>Please Enter Quantity</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex>
                    <input type="text" matInput placeholder="Name" formControlName="firstName">
                    <mat-error>Please Enter Quantity</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex>
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="text" matInput placeholder="Mobile number" formControlName="mobileNo">
                    <mat-error>Please Enter Quantity</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                <button type="submit" mat-raised-button color="primary" class="mr-3" [disabled]="!sellerForm.valid">Add {{type === 'SALE' ? 'Buyer' : 'Seller'}}</button>
                <button type="reset" (click)="cancel()" mat-raised-button>Cancel</button>
            </div>
        </form>
    </div>
</div> -->
<div id="add-seller">
    <div class="container mt-3">
        <form [formGroup]="sellerForm" #formDirective="ngForm" (submit)="submit(formDirective)">
            <div fxLayout="column" fxLayoutGap="15px">
                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-22.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Business type</span>
                    </label>
                    <select class="form-control" formControlName="businessType">
                        <option value="" selected disabled>Select here</option>
                        <option *ngFor="let businessType of businessTypes" [value]="businessType.value">
                            {{businessType.name}}</option>
                    </select>
                </div>

                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-22.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Business name</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter here" formControlName="businessName">
                </div>

                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-12.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Name</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter here" formControlName="firstName">
                </div>

                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-23.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Mobile number</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter here" formControlName="mobileNo">
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 mb-3">
                    <button type="reset" (click)="cancel()" class="mr-3" mat-raised-button>Cancel</button>
                    <button type="submit" mat-raised-button color="primary" [disabled]="!sellerForm.valid">Add
                        {{type === 'SALE' ? 'Buyer' : 'Seller'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>