<div class="container p-0">
    <div>
        <p class="mb-0 align-right pr-3 pt-1 pl-1" style="font-size: 0.7rem; color:white; background-color: #00A79D; font-weight: 600">(*Qty in tons)</p>
        <table class="table" *ngIf="stockboardData?.length" style="width:100%">
            <thead>
                <tr>
                    <td>Product</td>
                    <td class="align-right">Opn.Bal </td>
                    <td class="align-right">Purchase</td>
                    <td class="align-right">Sale</td>
                    <td class="align-right">Cls.Bal</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of stockboardData">
                    <td>{{item?.productName}}</td>
                    <td class="align-right">{{item?.openingbalance / 1000 | number : '1.2-2'}}</td>
                    <td class="align-right">{{item?.purchaseQty /1000 | number : '1.2-2'}}</td>
                    <td class="align-right">{{item?.saleQty /1000 | number : '1.2-2'}}</td>
                    <td class="align-right">{{item?.closingBalance /1000 | number : '1.2-2'}}</td>
                </tr>
            </tbody>
        </table>

        <div class="height_250px disable-color" *ngIf="!stockboardData?.length" fxLayoutAlign="center center">
            <i class="material-icons mr-1">
                warning
            </i>
            <span>No transactions found</span>
        </div>
    </div>
</div>