::ng-deep {

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 1.25em !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: .4375em 0 !important;
    }

    .mat-raised-button[disabled][disabled] {
        background-color: rgba(128, 128, 128, 0.22) !important;
    }
}

mat-form-field {
    max-width: 100%;
}

#add-product {
    label {
        color: #434649;
        margin-bottom: 0.2rem;
    }
    .form-control {
        border-radius: 1rem;
        padding: 0.375rem 1.8rem;
        height: calc(1.5em + 0.75rem + 4px);
    }

    .mat-raised-button.mat-primary {
        background-color: #2a75bc;
    }

    .warning-msg {
        i {
            font-size: 15px !important;
        }

        span {
            font-size: 0.8rem
        }
    }
}



