<div id="add-product">
    <div class="container mt-3">
        <form [formGroup]="productForm">
            <div fxLayout="column" fxLayoutGap="15px">
                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-17.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Product name</span>
                    </label>

                    <input type="text" class="form-control" placeholder="Enter here" formControlName="productName"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let product of filtredProduct | async"
                            [value]="product.commodityName + ' - ' + product?.productName">
                            <span>{{product?.commodityName}}</span>
                            <span> - </span>
                            <span class="text-muted">{{product?.productName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <div fxFlex="calc(50% - 10px)">
                            <label>
                                <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-29.svg"
                                    [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                                <span>Units</span>
                            </label>
                            <select class="form-control" formControlName="units" [attr.disabled]="!productForm?.get('productName')?.value ? '' : null">
                                <option value="" selected disabled>Select here</option>
                                <option *ngFor="let unit of unitsList" [ngValue]="unit">{{unit.unitName}}</option>
                            </select>
                        </div>

                        <div fxFlex="calc(50% - 10px)">
                            <label>
                                <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-30.svg"
                                    [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                                <span>Quantity</span>
                            </label>
                            <input placeholder="Quantity" type="number" formControlName="quantity"
                                class="form-control p-0 pl-3" [readonly]="!productForm?.value?.units">
                        </div>
                    </div>
                </div>

                <p fxLayout="row" fxLayoutAlign="start center" class="mb-0 text-warning warning-msg"
                    *ngIf="validationQuantity">
                    <i class="material-icons mr-1">
                        warning
                    </i>
                    <span>Quantity not exceed &nbsp;</span>
                    <span> {{stock}}</span>
                </p>

                <div fxLayout="row" fxLayoutAlign="center center" class="mt-3">
                    <button type="button" (click)="onCancel()" class="mr-3" mat-raised-button>Cancel</button>
                    <button type="button" [disabled]="!productForm.valid" mat-raised-button color="primary"
                        (click)="submitProduct()">Add product</button>
                </div>
            </div>
        </form>
    </div>
</div>