<div id="add-product" @fade [@expandCollapse]="!isAddProductForm ? 'expanded' : 'collapsed'">
    <div class="container mt-3">
        <form name="shiftingForm" [formGroup]="shiftingForm">
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" class="p-1" [ngClass]="{'mat-card selected-type': isShiftTo}"
                        (click)="selectedType('TO')">
                        <svg-icon class="text-center " [applyCss]="true" src="assets/Icons/Icon-10.svg"
                            [svgStyle]="{'width.px':60, 'height.px':40}"></svg-icon>
                        <span fxLayoutAlign="center center">To</span>
                    </div>

                    <div fxLayout="row" class="p-1" [ngClass]="{'mat-card selected-type': !isShiftTo}"
                        (click)="selectedType('FROM')">
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-11.svg"
                            [svgStyle]="{'width.px':60, 'height.px':40}"></svg-icon>
                        <span fxLayoutAlign="center center">From</span>
                    </div>
                </div>

                <div class="position-relative">
                    <!-- <label>Date</label> -->
                    <input class="form-control pl-5" [matDatepicker]="shiftingDate" placeholder="Choose a date"
                        formControlName="entryDate" (click)="selectDate.open()" name="date" id="date"
                        style="padding-left: 2.5rem !important" />
                    <mat-datepicker-toggle class="outline-none position-absolute" [for]="shiftingDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #shiftingDate #selectDate></mat-datepicker>
                </div>

                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-17.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Godown</span>
                    </label>

                    <input type="text" class="form-control" placeholder="Enter here" [matAutocomplete]="auto"
                        formControlName="godown">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
                        <mat-option *ngFor="let godown of filteredOptions | async" [value]="godown">
                            <span>{{godown?.outletName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <div class="mb-0" *ngIf="shiftingForm?.value?.godown">
                    <label>
                        <svg-icon class="text-center mr-1" [applyCss]="true" src="assets/Icons/Icon-17.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>Product list</span>
                    </label>
                    <div fxFlex fxLayoutAlign="end center" class="add">
                        <button type="button" (click)="addProductsStock()" mat-raised-button> Add </button>
                    </div>
                </div>

                <div *ngIf="shiftingForm?.value?.products?.length" style="width:100%" class="p-0 mat-card overflow-auto">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <td>Product</td>
                                <td>Unit</td>
                                <td>Qty</td>
                            </tr>
                        </thead>
                        <tbody class="text-color">
                            <tr class="font-13" *ngFor="let i of shiftingForm?.value?.products">
                                <td>{{i?.productName}}</td>
                                <td>{{i?.units?.unitName}}</td>
                                <td class="align-right">{{i?.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="submit mt-3"
                    *ngIf="shiftingForm?.value?.products?.length">
                    <button mat-raised-button (click)="save()"><span>Save</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div [@expandCollapse]="isAddProductForm ? 'expanded' : 'collapsed'">
    <app-add-product-stock [shiftingType]="this.shiftingForm.get('type').value" [productData]="productData"
        (addProduct)="addProductsListStock($event)" (cancel)="addProductsStock()"></app-add-product-stock>
</div>