::ng-deep {

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 1.25em !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: .4375em 0 !important;
    }

    .mat-raised-button[disabled][disabled] {
        background-color: rgba(128, 128, 128, 0.22) !important;
    }
}

mat-form-field {
    max-width: 100%;
}

#add-product {
    label {
        color: #434649;
        margin-bottom: 0.2rem;
    }
    .form-control {
        border-radius: 1rem;
        padding: 0.375rem 1.8rem;
        height: calc(1.5em + 0.75rem + 4px);
    }

    .mat-raised-button.mat-primary {
        // background-color: #3fb574;
        background-color: #2a75bc;
        // color: white;
    }

    .warning-msg {
        i {
            font-size: 15px !important;
        }

        span {
            font-size: 0.8rem
        }
    }

    .mat-card {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.37),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;
        border-radius: 10px !important;
    }

    .selected-type {
        background-color: #1c75bc;
        color: white;
        width: 120px;
    }

    mat-datepicker-toggle {
        top: -2px;
        left: 0px;
    }

    .add {
        .mat-raised-button {
            border-radius: 1rem !important;
            line-height: 20px !important;
            color: white !important;
            background-color: #00A79D;
        }
    }

    .submit {
        .mat-raised-button {
            color: white !important;
            background-color: #1c75bc !important;
            border-radius: 0.5rem !important;
            width: 80%
        }
    }

    table {
        td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    
        thead {
            background-color: #00A79D;
            color: #fff!important;
            font-size: 0.9rem;
        }

        tbody {
            td {
                color: #5d5757;
                font-size: 0.8rem;
            }
        }
    }
}