<mat-card class="transac-card" *ngFor ="let data of transactions.transactions" >
    <mat-card-header>
        <mat-icon>user</mat-icon>
        <img mat-card-avatar class=" grey" [src]="data.profilePicURL">
        <mat-card-title><span class="font-11">You</span><p class="font-10 mb-0"><span *ngIf="data.transactionType== 'SALE'">Sold {{data.productList.length}} product worth INR {{data.totalAmount}} from 
                        {{data.receiverFirstName}} </span>
                           <span *ngIf="data.transactionType=='PURCHASE'">Purchase {{data.productList.length}} product worth INR {{data.totalAmount}} from 
                               {{data.receiverFirstName}}
                           </span>
                           </p>
                           <p class="font-10 font-color"><span>Bill No:{{data.transactionId}} ,{{data.CT | date :'dd-MMM-yy h:mm:ss a '}}</span></p>      
        </mat-card-title>
        <!-- <mat-card-subtitle>ss</mat-card-subtitle> -->
    </mat-card-header>
</mat-card>



