
  .mat-card-title {
    font-weight: 0 !important;
  }


.transac-card {
   
    margin: 4px;
    padding:0px;
    padding-left:10px;
    padding-top:10px;

  }
  .font-10{
  font-size: 12px;
  }
  .font-11{
    font-size:13px;
  }
  .grey{
    background-color: rgb(223, 217, 217);
  }
.font-color{
  color:rgb(165, 161, 161);
}
.fw0{
  font-weight:0 !important;
}