// ::ng-deep {
//   .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//     border-color: #1c75bc;
// }

// .mat-radio-button.mat-accent .mat-radio-inner-circle {
//   background-color: #1c75bc;
// }

// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 1.25em !important;
// }

// .mat-raised-button[disabled][disabled] {
//   background-color: rgba(128, 128, 128, 0.22) !important;
// }
// .mat-form-field-infix {
//    padding: 3px 0 0 0;
//    border-top: 0; 
  
// }
// .form-control {
//   border: 1px solid #ced4da;
//   border-radius: 2.25rem;
  
// }
// .form-control:hover {
//   border-color:#007abd;
//   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
//   outline: 0;

// }


// .mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
//   box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.0), 0 0 0 0 rgba(0,0,0,.0);
  
//   border-radius: 30px;
//   color:#3a8fdc;
  
// }

// .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
//   background-color: #1c75bc;
//   border-radius: 30px;
// }



// .content{
//     height:100%;
//     margin: 30px;
//     .heading {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       div {
//         font-size: 30px;
//         padding-bottom: 30px;
//         strong{
//           font-weight: 500;
//         }
//       }
     
//     }
  
//     .radiobtn{
//       padding: 20px;
//       font-size: 17px;
//       .rbtn{
//         margin-right: 30px;
//       }
//     }
//     ul{
//       padding-left: 0px;
//       li{
//         list-style-type:none;
//         // padding-top: 20px;
//         button{
//           margin-bottom: 20px;
//           margin-top: 40px;
//           background-color: none;
//           padding: 0 10px;
//           width: 100%;
//           // border-radius: 12px;
//           outline: none
//         //   color: white
//         }
//       }
//     }
//   }

// }

::ng-deep {
  .mat-raised-button {
      border-radius: 1rem !important;
      line-height: 32px !important;
      color: #2196F3 !important
  }

  .mat-raised-button[disabled][disabled] {
    color: rgba(0,0,0,.26) !important;
  }
}