<!-- <div class="container mt-3">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">

        <div class="form" fxFlex="100%">
            <div class="heading">
                <div>
                    <strong class="signin">Sign In</strong>
                </div>
            </div>
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-radio-group fxLayout fxLayoutAlign="space-around center" class="radiobtn"
                    formControlName='isMobile'>
                    <mat-radio-button value="mobile" class="rbtn">Mobile</mat-radio-button>
                    <mat-radio-button value="email" class="rbtn">Email</mat-radio-button>
                </mat-radio-group>

                <ul fxLayout="column" fxLayoutGap="40px">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="mb-2">
                        <mat-icon matSuffix>{{'person'}}</mat-icon>
                        <div fxFlex fxLayoutAlign="start end" class="mt-1"> User Name</div>
                    </div>
                    <li>
                        <mat-form-field fxFlex appearance="none" class="form-control">

                            <span matPrefix *ngIf="isMobileChecked">+91 &nbsp;</span>

                            <input *ngIf="!isMobileChecked" type="email" matInput placeholder="Email"
                                formControlName="email">
                            <input *ngIf="isMobileChecked" type="number" matInput placeholder="Mobile"
                                formControlName="mobileNo">
                            <mat-icon matSuffix>{{isMobileChecked? 'phone' : 'email'}}</mat-icon>
                            <input type="text" matInput placeholder="Mobile/Email" formControlName="mobileNo"
                                class="input-shape">

                        </mat-form-field>
                    </li>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="mb-2">
                        <mat-icon matSuffix>{{'lock'}}</mat-icon>
                        <div fxFlex fxLayoutAlign="start end" class="mt-1"> Enter Password</div>
                        <mat-icon matSuffix fxLayoutAlign="end end" (click)="hidePassword = !hidePassword"
                            class="mt-2 mr-2">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <li>

                        <mat-form-field fxFlex appearance="none" class="form-control">

                            <span matPrefix *ngIf="isMobileChecked">+91 &nbsp;</span>

                            <input *ngIf="!isMobileChecked" type="email" matInput placeholder="Email"
                                formControlName="email">
                            <input *ngIf="isMobileChecked" type="number" matInput placeholder="Mobile"
                                formControlName="mobileNo">
                            <mat-icon matSuffix>{{isMobileChecked? 'phone' : 'email'}}</mat-icon>
                            <input type="text" matInput placeholder="Enter Password"
                                [type]="hidePassword ? 'password' : 'text'" formControlName="pwd" fxFlex
                                fxLayoutAlign="start center">

                        </mat-form-field>



                    </li>

                    <li>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="pwd">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                                {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </li>

                    <li fxLayoutAlign="center center">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Log
                            In</button>
                    </li>

                </ul>

            </form>
        </div>
    </div>
</div> -->
<div id="sign-in">
    <div class="container mt-5">
        <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div fxLayout="column" fxLayoutGap="20px">
                <div>
                    <label>
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-12.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span>User name</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Mobile/Email" formControlName="mobileNo">
                </div>

                <div>
                    <label fxLayout="row">
                        <svg-icon class="text-center" [applyCss]="true" src="assets/Icons/Icon-13.svg"
                            [svgStyle]="{'width.px':30, 'height.px':30}"></svg-icon>
                        <span fxFlex fxLayoutAlign="start center">Password</span>
                        <mat-icon fxLayoutAlign="end end" fxFlex (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter Password"
                        [type]="hidePassword ? 'password' : 'text'" formControlName="pwd" fxLayoutAlign="start center">
                </div>

                <div fxLayoutAlign="center center">
                    <button type="submit" mat-raised-button style="width: 80%" [disabled]="!loginForm.valid">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>