::ng-deep {
    .mat-fab.mat-accent {
        background-color: #17b885;
        font-weight: 600;
    }

    .normal {
        .mat-fab {
            width: 30px !important;
            height: 30px !important;
            font-size: 14px;
            .mat-button-wrapper {
                padding: 0;
            }
            box-shadow: none;
        }
    }

    .sync {
        .mat-fab {
            width: 50px !important;
            height: 50px !important;
            .mat-button-wrapper {
                padding: 0;
            }
        }
    }

    .pass {
        .mat-fab.mat-accent {
            background-color: #2bde32;
        } 
    }

    .failed {
        .mat-fab.mat-accent {
            background-color: red;
        } 
    }

    .pend {
        .mat-fab.mat-accent {
            background-color: #ff9800;
        } 
    }

    .mat-tab-label {
        width: 100% !important;
    }


}

.icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: #1c75bb;
}

.height_250px {
    height: 250px;
}

.container {
    padding:10px 16px;
}

.font_size_15 {
    font-size: 15px;
}

button {
    outline: none;
    // background: aqua
}

.font_weight {
    font-weight: 500;
    // color: #434649
}

.text_secondary {
    color: #434649;
}

.text-color {
    color: #000000ad;
}

tbody {
    background-color: #fff;
    color: #ff9800;
}

.disable-color {
    color: #999;
    font-size: 20px
}

.success {
    color: #2bde32;
}

.normal {
    color: #000000ad;
}

.danger {
    color: red;
}

.pending {
   color: #9c6f00; 
}

table {
    td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 0.8rem;
    }

    thead {
        td {
            background-color: #00A79D;
            color: #fff!important;
            border-top: none;
            font-size: 0.85rem;
        }
    }
}