<div class="container p-3 font_size_15">
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayoutAlign="start center">
                <span class="font_weight text_secondary">Last synced on: </span>
                <span class="text-color">{{response?.lastSyncTS | date: 'dd MMM hh:mm:a'}}</span>
            </div>

            <div fxFlex fxLayoutAlign="end center" class="sync">
                <button mat-fab (click)="sync()" [disabled]="pendingCount == 0">Sync</button>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="normal pass" fxLayoutGap="5px" fxLayout fxLayoutAlign="start center">
                <button mat-fab fxLayout fxLayoutAlign="center center">{{response?.success.length || 0}}</button>
                <div>Success</div>
            </div>

            <div class="normal pend" fxLayoutGap="5px" fxLayout fxLayoutAlign="start center">
                <button mat-fab fxLayout fxLayoutAlign="center center">{{pendingCount}}</button>
                <div>Pending</div>
            </div>

            <div class="normal failed" fxLayoutGap="5px" fxLayout fxLayoutAlign="start center">
                <button mat-fab fxLayout fxLayoutAlign="center center">{{response?.failed.length || 0}}</button>
                <div>Failed</div>
            </div>
        </div>
    </div>

    <mat-tab-group class="w-100 mt-3">
        <mat-tab class="w-100" label="Transactions">
            <div class="mt-3" *ngFor="let date of dates.slice().reverse()">
                <span class="font_weight text_secondary">{{date}}</span>
                <div class="mat-card">
                    <table class="table" *ngIf="syncData?.transactions.length">
                        <thead>
                            <tr>
                                <td>Tx.id</td>
                                <td>Receiver name</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of syncData?.transactions.slice().reverse()"
                                [ngClass]="{'success':user?.isSyncSuccess,'danger':user?.isSyncFailed}">
                                <td *ngIf="compareTwoDates(date, user.CT)">{{user?.transactionId}}</td>
                                <td *ngIf="compareTwoDates(date, user.CT)">
                                    {{user?.receiverFirstName}}
                                </td>
                                <td *ngIf="compareTwoDates(date, user.CT)">
                                    <span>₹</span>
                                    <span>{{user?.totalAmount | number : '1.2-2'}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="height_250px disable-color" *ngIf="!syncData?.transactions.length"
                    fxLayoutAlign="center center">
                    <i class="material-icons mr-1">
                        warning
                    </i>
                    <span>No transactions found</span>
                </div>
            </div>
        </mat-tab>
        <mat-tab class="w-100" label="Stock shifting">
            <div class="mt-3" *ngFor="let date of dates.slice().reverse()">
                <span class="font_weight text_secondary">{{date}}</span>
                <div class="mat-card">
                    <table class="table" *ngIf="syncData?.transactions.length">
                        <thead>
                            <tr>
                                <td>Tx.id</td>
                                <td>Godown</td>
                                <td>Qty</td>
                                <td>Unit</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stock of syncData?.stockShift.slice().reverse()"
                                [ngClass]="{'success':stock?.isSyncSuccess,'danger':stock?.isSyncFailed}">
                                <td *ngIf="compareTwoDates(date, stock.CT)">{{stock?.transactionId}}</td>
                                <td *ngIf="compareTwoDates(date, stock.CT)">
                                    {{stock?.godown?.outletName}}
                                </td>
                                <td *ngIf="compareTwoDates(date, stock.CT)">
                                    {{stock?.products[0]?.quantity}}
                                </td>
                                <td *ngIf="compareTwoDates(date, stock.CT)">
                                    {{stock?.products[0]?.units?.unitName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="height_250px disable-color" *ngIf="!syncData?.transactions.length"
                    fxLayoutAlign="center center">
                    <i class="material-icons mr-1">
                        warning
                    </i>
                    <span>No transactions found</span>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>