/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

label {
    color: #434649 !important;
    margin-bottom: 0.2rem !important;
    font-weight: 600;
    font-size: 0.9rem !important;
}
.form-control {
    border-radius: 1rem !important;
    padding: 0.375rem 1.8rem;
    height: calc(1.5em + 0.75rem + 4px) !important;
    font-size: 0.85rem !important;
}